@font-face{
 font-family: "myfont";
 src: url(font/YujiSyuku-Regular.ttf) format("truetype");
 font-weight: normal;
 font-style: normal;
}

/* General Styles */

body {
    font-family: "myfont", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EEE4DD;
    color: #103B4C;
}

h1 {
    font-family: "myfont", sans-serif;
    font-size: 4rem;
    color: #103B4C;
    text-align: left;
    margin: 20px 0;
}


nav {
    background: #EEE4DD;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

nav img {
    height: 15px;
    width: auto;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #103B4C;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 10px 0;
    position: relative;
}

nav a.active {
    color: #DC97A8;
}

nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #DC97A8;
    transition: width 0.3s ease;
}

nav a:hover::after {
    width: 100%;
}

/* Hero Image */
.hero img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* Booking Container */
.booking-container {
    max-width: 100%;
    margin:  auto;
    padding: 20px;
    background: #EEE4DD;
    background-image: url(pictures/waves_blue.png);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}



.date-time-section {
    display: flex;
    gap: 40px;
    margin-bottom: 40px;
    background-color: #EEE4DD;
    border-radius: 10px;
}

.date-picker, .time-slots {
    flex: 1;
}

.calendar {
    border: 1px solid #103B4C;
    border-radius: 5px;
    padding: 10px;
}

.calendar-header {
    color: #103B4C;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
}

.calendar-days {
    color: #103B4C;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.calendar-days span {
    padding: 10px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.calendar-days span:hover {
    background: #DC97A8;
    border-radius: 100px;
}

.calendar-days span.toggled {
    background: #2C2C2C;
    color: #FAF2EF;
    border-radius: 100px;
}
.times {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.times button {
    font-family: "myfont", sans-serif;
    padding: 10px;
    border: 1px solid #DC97A8;
    border-radius: 30px;
    background: #DC97A8;
    cursor: pointer;
    font-weight: 600;
}

.times button:hover {
    background: #103B4C;
    border-color: #103B4C;
}

.times button:active {
    background: #2C2C2C;
    border-color: #2C2C2C;
    color: #FAF2EF;
}

.times button.toggled {
    background: #2C2C2C;
    border-color: #2C2C2C;
    color: #FAF2EF;
}

.times button:focus {
    outline: none;
    background: #DC97A8;
}

/* Guest Info Form */
.guest-info {
    margin-top: 20px;
}

.form-row {
    max-width: 50%;
    color: #FAF2EF;
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.form-row input, 
.form-row select,
.form-row textarea {
    font-family: "myfont", sans-serif;
    color: #103B4C;
    flex: 1;
    padding: 12px;
    border: 1px solid #FAF2EF;
    border-radius: 30px;
    font-size: 1rem;
}

.form-row textarea {
    color: #103B4C;
    height: 100px;
    resize: vertical;
}

.select {
    color: #103B4C;
    background-color: #FAF2EF;
    border-radius: 30px;
}

.book-btn {
    font-family: "myfont", sans-serif;
    background: #2C2C2C;
    color: #FAF2EF;
    border: none;
    padding: 12px 30px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    float: middle;
    margin-top: 10px;
}

.book-btn:hover {
    background: #DC97A8;
}

.book-btn:active {
    background: #103B4C;
}

.toggle-btn {
  background: #DC97A8;
  color: #FAF2EF;
  border: none;
  padding: 12px 30px;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-btn.active {
  background: #2C2C2C;
  color: #FAF2EF;
}

footer {
    border-radius: 20px 20px 0px 0px;
    background: #2C2C2C;
    color: #F7F4F3;
    padding: 30px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content div {
    flex: 1;
    padding: 0 20px;
}

.social-icons {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.social-icons img {
    width: 50px;
    height: 50px;
}

footer a {
    color: #DC97A8;
    text-decoration: none;
}

footer a:hover {
    color: #FAF2EF;
}



